<mat-card>
  <mat-toolbar color="primary"> Cursos Disponíveis </mat-toolbar>

  @if (cursos$ | async; as cursos) {
    <div
      class="column-flex mat-elevation-z8">
      <app-curso-lista
        [cursos]="cursos.cursos"
        (add)="aoAdd()"
        (edit)="aoEditar($event)"
        (remover)="aoRemover($event)"
      ></app-curso-lista>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [length]="cursos.totalElements"
        (page)="recarregarCursos($event)"
        aria-label="Selecione uma página de cursos"
        >
      </mat-paginator>
    </div>
  } @else {
    <div class="carregando-spinner">
      <mat-spinner></mat-spinner>
    </div>
  }

</mat-card>
