<mat-card>
  <mat-toolbar color="primary"> Cursos Disponíveis </mat-toolbar>

  <div class="column-flex mat-elevation-z8">
    <app-curso-lista
      *ngIf="cursos$ | async as cursos; else exibeSpinner"
      [cursos]="cursos"
      (add)="onAdd()"
      (edit)="onEditar($event)"
      (remover)="onRemover($event)"
    ></app-curso-lista>

    <ng-template #exibeSpinner>
      <div class="carregando-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</mat-card>
